extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="Imagen de Nosotros")
            .col-md-7
                h1 #{pagina}
                blockquote Phasellus vel mi risus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Curabitur nec dapibus erat. Donec vulputate nisi eget arcu egestas, non euismod metus lobortis. Nullam efficitur semper euismod. Vivamus sed justo vulputate, ullamcorper diam eget, porta purus. Maecenas commodo sodales viverra. Mauris magna dolor, pulvinar sit amet lobortis dapibus, consequat non nulla.
                p Proin facilisis diam id felis varius tempus. Quisque eu ornare erat. Donec dictum et nibh at bibendum. Quisque tincidunt felis eu odio fermentum, ac sollicitudin lorem vestibulum. Sed at aliquet neque. Fusce a erat sollicitudin, venenatis orci vitae, pretium ipsum. Vivamus ut hendrerit diam, sed posuere ante. Suspendisse non tempor libero.
                p Aenean pharetra lacus eget lacus lobortis, nec eleifend arcu elementum. Ut dignissim sed risus quis condimentum. Nunc nec ultrices lacus, ac ultricies tellus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Quisque sagittis cursus justo id sagittis. Morbi pretium lorem et scelerisque tincidunt. Nulla venenatis, leo at feugiat varius, velit enim eleifend ante, fermentum rutrum sapien tortor eu lectus.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit metus in justo pulvinar, id semper urna pellentesque. Etiam neque felis, auctor a blandit quis, commodo quis purus.
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit metus in justo pulvinar, id semper urna pellentesque. Etiam neque felis, auctor a blandit quis, commodo quis purus.
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejor Precio
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit metus in justo pulvinar, id semper urna pellentesque. Etiam neque felis, auctor a blandit quis, commodo quis purus.